<h2 class="content-block">
  Listas da <strong>{{ lista.toLocaleUpperCase() }}</strong>
</h2>
<div class="content-block">
  <div class="dx-container">
    <div
      class="dx-container-item"
      *ngFor="let lista of listas; let li = index; let last = last"
    >
      <h4>
        <strong>{{ lista.title }}</strong>
      </h4>
      <div class="dx-card dropzone">
        <dx-button
          stylingMode="normal"
          text="Adicionar um cartão"
          type="default"
          (onClick)="addCard(lista)"
          icon="plus"
          [height]="30"
          [attr.aria-lista]="li"
        >
        </dx-button>

        <div class="editing-card" *ngIf="lista.editing">
          <div
            class="btn-card dx-card"
            autofocus="true"
          >
            <dx-text-area
              placeholder="Adicione um titulo ao cartão"
              [elementAttr]="{ class: 'textarea' }"
              [(value)]="currentTextAreaValue"
            >
            </dx-text-area>
          </div>
          <div class="card-flex">
            <dx-button
              stylingMode="normal"
              text="Adicionar cartão"
              type="default"
              [height]="30"
              (onClick)="createCard(lista)"
            >
            </dx-button>
            <dx-button
              stylingMode="text"
              type="default"
              icon="close"
              [height]="30"
              [elementAttr]="{ class: 'btn-margin' }"
              (onClick)="removeCard(lista, li)"
            >
            </dx-button>
          </div>
        </div>

        <dx-list
          [dataSource]="lista.cards"
          [repaintChangesOnly]="true"
          keyExpr="id"
          displayExpr="title"
          [elementAttr]="{ class: 'dx-lista' }"
          [searchEnabled]="true"
          searchMode="contains"
        >
          <dxo-item-dragging
            group="tasks"
            [data]="lista.cards"
            [allowReordering]="true"
            [onDragStart]="onDragStart"
            [onAdd]="onAdd"
            [onRemove]="onRemove"
          >
          </dxo-item-dragging>
        </dx-list>
      </div>
    </div>

    <!-- <dx-list [dataSource]="doingTasks" [repaintChangesOnly]="true" keyExpr="id">
      <dxo-item-dragging
        group="tasks"
        [data]="doingTasks"
        [allowReordering]="true"
        [onDragStart]="onDragStart"
        [onAdd]="onAdd"
        [onRemove]="onRemove"
      >
      </dxo-item-dragging>
    </dx-list> -->
  </div>
</div>
